.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;


}
/* .img1{
  background: url(img/fish.png) no-repeat;
  box-shadow: 0px -10px 30px #ccc;
  color:white;
  font-size:50px;
} */

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  /* text-shadow: 5px 0 #232931; */
  font-size: 8rem;
  color: #4ECCA3;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px 5px red;

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
